@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* STYLE RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin: 0;
}
input, button, select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/* STYLE RESET END */
/* DEFAULT CLASSES START */
.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sb{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-center{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.white-bg{
    background-color: #fff;
}
.icon {
    display: inline-block;
}
.orange-text{
    color: #ff5912;
}
.light-blue-text{
    color: #e8ecf3;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.circle{
    display: inline-block;
    background-color: #ff5912;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 8px;
    height: 8px;
}
.btn-default{
    color: #fff;
    background-color: #ff5912;
}
.btn-radius{
    line-height: 1;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    border: none;
    margin-left: 25px;
    padding: 17px 23px;
}
/* DEFAULT CLASSES END */
.title{
    font-family: "Harmonia_black";
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.description-title{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #3c4751;
}
.description-text{
    font-size: 16px;
    color: #495662;;
}
.default-section{
    padding: 60px 0;
}
.new-arrivals-title, .best-sales-title{
    margin-bottom: 80px;
}
.new-arrivals-title p, .best-sales-title p{
    margin-top: 28px;
}
.new-arrivals-title .harmonia-reg-16{
    color: #495662;
}
.title-text{
    font-size: 16px;
    color: #495662;
}
/* DEFAULT COMPONENT START */
.top-header ul li{
    display: inline-block;
}
.top-header ul span{
    margin-left: 8px;
}
.top-header ul li + li{
    margin-left: 18px;
}
.top-header{
    padding: 23px 0;
    border-bottom: 1.5px solid rgba(237, 239, 241, .5);
}
.top-header .contacts-block i{
    vertical-align: top;
}
.social-block .fa-facebook:hover{
    color: #ff5912;
}
.social-block .fa-twitter:hover{
    color: #ff5912;
}
.social-block .fa-google-plus:hover{
    color: #ff5912;
}
.social-block .fa-instagram:hover{
    color: #ff5912;
}
.bottom-header{
    padding: 40px 0;
    position: relative;
}
header .bottom-header .user-controls{
    margin-left: auto;
}
.header-nav{
    margin-left: 80px;
    font-size: 16px;
}
.header-nav a + a{
    margin-left: 40px;
}
.header-nav a:hover{
    color: #ff5912;
}
.slicknav_menu{
    background: none;
}
.slicknav_nav{
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 12px rgba(0, 0, 0, .1);
    text-align: right;
    padding: 10px 0;
    font-family: 'Harmonia_regular';
    font-size: 16px;
}
.slicknav_nav a{
    color: #34404b;
    padding: 10px 15px;
    text-decoration: none;
}
.slicknav_btn{
    background-color: #ff5912;
}
@media (max-width: 991px){
    header .bottom-header .header-nav{
        display: none;
    }
    header .bottom-header .user-controls{
        margin-left: 0;
    }
    .slicknav_menu{
        display: block;
    }
}
@media (max-width: 479px){
    .contacts-block{
        max-width: 180px;
    }
    .top-header .contacts-block li + li{
        margin-left: 0;
        margin-top: 10px;
    }
}
.user-controls a{
    display: inline-block;
}
.user-controls a + a{
    margin-left: 30px;
}
.user-controls .relative-link{
    position: relative;
}
.cart-count{
    position: absolute;
    left: 18%;
    top: -110%;
    background-color: #34404b;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}
.user-controls .icon-search-ic:hover{
    background-position: -81px 0px;
}
.user-controls .icon-user-ic:hover{
    background-position: 0px -59px;
}
.user-controls .icon-cart-ic:hover{
    background-position: -20px -59px;
}
.product-item{
    padding: 30px 10px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.product-item .item-price{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}
.product-item .item-img{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 216px;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    -webkit-transition: all .3s linear .1s;
    -o-transition: all .3s linear .1s;
    transition: all .3s linear .1s;
    z-index: -1;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.more-info-on-hover .sizes{
    font-family: 'Harmonia_regular';
    font-size: 14px;
    margin-bottom: 30px;
}
@media (max-width: 1199px){
    .product-item .item-description,
    .product-item .more-info-on-hover{
        padding: 0;
    }
}
@media (max-width: 991px) {
    .product-item{
        margin-bottom: 30px;
    }
}
@media (max-width: 479px){
    .user-controls{
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        text-align: center;
        margin-top: 20px;
    }
    .header .bottom-header .flex-container{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}
.item-controls{
    margin-top: 30px;
}
.item-controls li + li{
    margin-left: 25px;
}
.product-item .colors{
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.item-controls .icon-share-ic:hover{
    background-position: -44px -59px;
}
.item-controls .icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.item-controls .icon-like-ic:hover{
    background-position: -38px -80px;
}
.subscribe-description .orange-text{
    text-transform: uppercase;
}
.subscribe-description-title{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}
.subscribe-description-text, .subscribe-input{
    font-family: 'Harmonia_italic';
    font-size: 14px;
}
.subscribe-input{
    color: #7c8791;
}
.subscribe-description span + span{
    margin-left: 23px;
}
.subscribe-form{
    padding: 35px 45px;
}
.subscribe-form .subscribe-input{
    color: #7c8791;
    margin-left: 8px;
    min-width: 250px;
    padding-right: 20px;
}
.subscribe-form .btn{
    font-family: 'Harmonia_semibold';
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 50px;
    width: 100px;
}
.subscribe-form .btn:hover{
    color: #fff;
    background-color: rgba(255, 89, 18, .6);
}
@media (max-width: 991px){
    .subscribe-form{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .subscribe-description{
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .subscribe-form {
        padding: 35px 20px;
    }
}
@media (max-width: 479px){
    .subscribe-form .subscribe-input{
        min-width: auto;
    }
    .subscribe-description span{
        display: block;
        text-align: center;
    }
    .subscribe-description span + span{
        margin-left: 0;
        margin-top: 15px;
    }
    .email-input{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .email-input .btn{
        margin-top: 15px;
    }
}
.aside-section{
    padding: 40px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    margin-bottom: 35px;
}
.aside-section ul li{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}
.aside-section li + li,
.aside-section form .checkbox-group + .checkbox-group{
    margin-top: 35px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section.flex-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.aside-section.flex-container a:hover{
    color: #ff6422;
}
.category-wrap .col-md-9 .row>*:nth-child(n+4){
    margin-top: 30px;
}
.category-wrap .load-more{
    margin-top: 30px;
}
.mobile-sidebar-btn{
    display: none;
    font-size: 30px;
    color: #ff5912;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .mobile-sidebar-btn{
        display: block;
    }
    .mobile-sidebar-btn .fa{
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .mobile-sidebar-wrap{
        position: absolute;
        -webkit-transform: translateX(-150%);
            -ms-transform: translateX(-150%);
                transform: translateX(-150%);
        z-index: 99;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        left: 0;
        right: 0;
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .4);
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    main.show .mobile-sidebar-wrap{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    main.show .overlay{
        opacity: 1;
        z-index: 98;
    }
    main.show .mobile-sidebar-btn .fa{
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
    }
}
.range{
    margin-top: 35px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type='number']{
    -moz-appearance: textfield;
}
.range-input-reoup input{
    margin-left: 10px;
    height: 25px;
    width: 45px;
    background-color: #edf0f2;
}
.min-value, .max-value,
.range-input-reoup .input-number{
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    text-align: center;
}
.add-range-value .range-input-reoup + .range-input-reoup{
    margin-left: 20px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label{
    color: #ff5912;
}
input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}
.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 3px;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.min-value, .max-value{
    position: absolute;
    bottom: 200%;
    color: #34404b;
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    outline: none;
}
.add-range-value{
    margin-top: 30px;
}
.jq-number__spin,
.jq-number__field,
.jq-number__spin:hover,
.jq-number.focused .jq-number__field{
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
}
.jq-number__spin.minus{
    bottom: 18px;
    left: 18px;
}
.jq-number__spin.minus,
.jq-number__spin.plus{
    width: 20px;
    height: 20px;
}
.jq-number__field{
    width: 30px;
}
.jq-number__field input{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #ff5912;
    width: 60px;
    text-align: center;
}
@media (max-width: 1199px) {
    .range-input-reoup .input-number{
        margin-left: 0;
    }
    .add-range-value .range-input-reoup + .range-input-reoup{
        margin-left: 5px;
    }
    .range-input-reoup input{
        width: 40px;
    }
}
/* DEFAULT COMPONENT END */
.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom: auto;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.carousel-price-text{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.item-carousel-description p + p{
    padding-top: 15px;
}
.item-carousel-description p.harmonia-semibd-18{
    color: #3c4751;
}
.item-carousel-description .harmonia-reg-16{
    color: #495662;
}
.item-carousel-price{
    margin-top: 50px;
}
.item-carousel-price a{
    margin-left: 30px;
    color: #ff5912;
    font-size: 18px;
    font-family: 'Harmonia_semibold';
}
.item-carousel-price i{
    margin-right: 8px;
}
.load-more{
    height: 60px;
    margin-top: 80px;
}
.load-more a{
    display: block;
    line-height: 60px;
}
@media (max-width: 991px){
    .sale-carousel{
        min-height: 500px;
    }
    .load-more{
        margin-top: 30px;
    }
}
@media (max-width: 479px){
    .title.big{
        font-size: 34px;
    }
    .sale-carousel{
        min-height: 400px;
    }
}
.kit{
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block .orange-bg{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block-text{
    position: absolute;
    top: 25%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    color: #fff;
}
.sales-block-text .phrase{
    font-family: 'Harmonia_italic';
}
.sales-block-text .value{
    font-family: 'Harmonia_black';
    font-size: 18px;
}
.category-wrap{
    padding-top: 120px;
    padding-bottom: 60px;
}
@media (max-width: 991px){
    .category-wrap .col-md-9 .row>*:nth-child(n+4){
        margin-top: 0;
    }
}
.adv{
    height: 104px;
    border: 1px solid #eaedef;
}
.adv-block-title{
    font-size: 16px;
}
.adv-block .adv-block-text{
    margin-top: 15px;
    font-size: 12px;
    opacity: .4;
    letter-spacing: .6em;
}
.sales-text{
    border-right: 1px solid #f2f4f7;
    padding-right: 35px;
}
.sales-text .title{
    font-family: 'Harmonia_black';
    font-size: 22px;
    margin: 0;
}
.sales-text .text{
    color: #495662;
}
.sales-text span{
    display: block;
}
.sales-text span + span{
    margin-top: 15px;
}
.sales-price .price-value{
    margin-left: 20px;
    font-family: 'Harmonia_black';
    font-size: 32px;
}
.sales-price .currency{
    font-family: 'Harmonia_black';
    font-size: 22px;
}
@media (max-width: 1199px){
    .kit{
        padding: 20px 30px;
    }
}
@media (max-width: 991px){
    .kit{
        margin-bottom: 30px;
    }
}
@media (max-width: 599px){
    .sales-text{
        max-width: 190px;
        padding-right: 0;
    }
    .price-value{
        margin-left: 8px;
    }
    .kit{
        padding: 20px 25px;
    }
}
@media (max-width: 479px){
    .kit .flex-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .sales-text{
        max-width: 230px;
        text-align: center;
        border-right: none;
    }
    .kit .flex-container> * + *{
        margin-top: 20px;
    }
}
.best-item-title{
    font-family:'Harmonia_bold';
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.best-item-info-price{
    font-family: 'Harmonia_bold';
    font-size: 16px;
}
.best-item-img, .best-item-description{
    display: inline-block;
}
.best-item-description{
    border-left: 1px solid #f2f4f7;
    padding-left: 25px;
}
.best-item-description a{
    color: inherit;
}
.best-sales-title .harmonia-reg-16{
    color: #495662;
}
.best-sales .best-item{
    padding: 30px 25px;
}
.best-item-info ul,
.best-item-info li{
    display: inline-block;
}
.best-item-info{
    margin-top: 30px;
}
.best-item-on-hover i{
    vertical-align: sub;
}
.best-item-on-hover span{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    margin-left: 8px;
}
.best-item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.best-item .best-item-on-hover{
    opacity: 0;
    position: absolute;
    left: 52%;
    -webkit-transition: all .3s linear .1s;
    -o-transition: all .3s linear .1s;
    transition: all .3s linear .1s;
    z-index: -1;
}
.best-item:hover .best-item-on-hover{
    opacity: 1;
    z-index: 99;
}
.best-item-info>ul,
.best-item-info>span {
    -webkit-transition: all .3s linear .1s;
    -o-transition: all .3s linear .1s;
    transition: all .3s linear .1s;
    z-index: 99;
}
.best-item:hover .best-item-info>ul,
.best-item:hover .best-item-info>span{
    opacity: 0;
    z-index: -1;
}
@media (max-width: 1199px) {
    .best-item-img{
        margin-right: 10px;
    }
    .best-item-description{
        padding-left: 10px;
    }
    .best-sales .best-item{
        padding: 30px 20px;
    }
}
@media (max-width: 767px){
    .best-sales .row .col-md-4 + .col-md-4{
        margin-top: 35px;
    }
    .best-item-description{
        width: 100%;
        padding-left: 20px;
    }
    .best-item-img{
        margin-right: 20px;
    }
}
/* FOOTER START */
footer{
    margin-top: 60px;
}
footer .container{
    padding: 85px 15px;
}
.footer-logo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.footer-logo span,
.footer-nav ul li{
    font-size: 14px;
    color: #28313b;
}
.footer-nav ul + ul{
    margin-left: 90px;
}
.footer-nav ul{
    list-style: unset;
}
.footer-nav li + li{
    margin-top: 20px;
}
.footer-nav li:hover{
    color: #ff5912;
}
.payment-methods-icon,
.footer-logo span{
    margin-top: 20px;
}
.payment-methods-icon li + li{
    margin-left: 10px;
}
.payment-methods span{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}

@media (max-width: 1199px) {
    .footer-nav ul + ul{
        margin-left: 60px;
    }
}
@media (max-width: 991px) {
    .footer-logo{
        max-width: 150px;
    }
    .footer-nav ul + ul{
        margin-left: 35px;
    }
}
@media (max-width: 767px){
    .common{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .common> * + *{
        margin-top: 50px;
    }
    .footer-logo{
        max-width: 100%;
        text-align: center;
    }
    .footer-nav ul + ul{
        margin-left: 60px;
    }
    .payment-methods{
        text-align: center;
    }
}
@media (max-width: 479px){
    .footer-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-nav ul + ul{
        margin-left: 0;
        margin-top: 20px;
    }
}
/* FOOTER END */
/* PRODUCT SLIDER START */
.product-wrap{
    padding-top: 100px;
    padding-bottom: 60px;
    border-top: 1.5px solid rgba(237, 239, 241, .5);
}
.product-slider{
    width: 330px;
}
.product-description .about{
    padding-bottom: 40px;
    border-bottom: 1.5px solid rgba(237, 239, 241, .5);
}
.product-description .about span{
    display: inline-block;
    margin-bottom: 35px;
}
.product-description .about p{
    line-height: 30px;
}
@media (max-width: 479px){
    .product-slider{
        width: auto;
    }
}
.order-form{
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1.5px solid rgba(237, 239, 241, .5);
}
.item-count{
    padding-left: 70px;
    border-left: 1.5px solid rgba(237, 239, 241, .5);
}
.item-count span{
    margin-right: 15px;
}
.choose-size span{
    margin-right: 25px;
}
.choose-size-text,
.choose-quantity-text{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.order-now{
    margin-top: 40px;
}
.order-now-text{
    font-family: 'Harmonia_black';
    font-size: 20px;
}
.order-now .item-controls{
    margin: 0;
    margin-left: auto;
}
.order-now .item-controls li{
    display: inline-block;
}
.order-now .btn:hover{
    color: #fff;
    background-color: rgba(255, 89, 18, .6);
}
@media (max-width: 1199px){
    .order-form .item-count{
        padding-left: 15px;
    }
}
@media (max-width: 991px){
    .order-form .item-count{
        padding-left: 70px;
    }
}
@media (max-width: 991px){
    #product-option-form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #product-option-form> * + *{
        margin-top: 15px;
    }
    .order-form .item-count{
        padding-left: 0;
        border-left: none;
    }
}
@media (max-width: 479px){
    .order-now{
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .order-now .btn{
        margin-left: 0;
        margin: 0 auto;
        margin-top: 20px;
    }
    .new-arrivals-title .title{
        font-size: 30px;
    }
    .flex-control-nav li + li{
        margin-left: 10px;
    }
}
/* PRODUCT SLIDER END */
/* PRODUCT DESCRIPTION START */
.size-radio input[type='radio']{
    display: none;
}
.size-radio label{
    vertical-align: middle;
    font-size: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio + .size-radio{
    padding-left: 10px;
}
.size-radio + .size-radio::before{
    content: '-';
    padding-right: 10px;
    text-align: center;
}
.size-radio input[type='radio']:checked + label{
    color: #ff5912;
    font-size: 18px;
}
/* PRODUCT DESCRIPTION END */