@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/* STYLE RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin: 0;
}
input, button, select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/* STYLE RESET END */
/* DEFAULT CLASSES START */
.flex-container{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.white-bg{
    background-color: #fff;
}
.icon {
    display: inline-block;
}
.orange-text{
    color: #ff5912;
}
.light-blue-text{
    color: #e8ecf3;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.harmonia-bold-18{
    font-family: 'Harmonia_bold';
    font-size: 18px;
}
.harmonia-bold-16{
    font-family: 'Harmonia_bold';
    font-size: 16px;
}
.harmonia-semibd-18{
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #3c4751;
}
.harmonia-semibd-16{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}
.harmonia-reg-16{
    font-size: 16px;
    color: #495662;
}
.harmonia-black-18{
    font-size: 18px;
    font-family: 'Harmonia_black';
}
.harmonia-black-22{
    font-size: 22px;
    font-family: 'Harmonia_black';
}
.harmonia-italic-12{
    font-size: 12px;
    font-family: 'Harmonia_italic';
}
.circle{
    display: inline-block;
    background-color: #ff5912;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
/* DEFAULT CLASSES END */
.title{
    font-family: "Harmonia_black";
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title-red, .text-red{
    color: #ff5912;
}
.title-big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.new-arrivals-title, .best-sales-title{
    margin-bottom: 80px;
}
.new-arrivals-title p, .best-sales-title p{
    margin-top: 28px;
}
/* DEFAULT COMPONENT START */
.top-header ul li{
    display: inline-block;
}
.top-header ul span{
    margin-left: 8px;
}
.top-header ul li + li{
    margin-left: 18px;
}
.top-header{
    padding: 23px 0;
    border-bottom: 1.5px solid rgba(237, 239, 241, .5);
}
.top-header .contacts-block i{
    vertical-align: top;
}
.social-block .fa-facebook:hover{
    color: #ff5912;
}
.social-block .fa-twitter:hover{
    color: #ff5912;
}
.social-block .fa-google-plus:hover{
    color: #ff5912;
}
.social-block .fa-instagram:hover{
    color: #ff5912;
}
.bottom-header{
    padding: 40px 0;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.header-nav{
    margin-left: 80px;
    font-size: 16px;
}
.header-nav a + a{
    margin-left: 40px;
}
.header-nav a:hover{
    color: #ff5912;
}
.user-controls a + a{
    margin-left: 30px;
}
.user-controls .relative-link{
    position: relative;
}
.user-controls span{
    position: absolute;
    left: 18%;
    top: -157%;
    background-color: #34404b;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}
.user-controls .icon-search-ic:hover{
    background-position: -81px 0px;
}
.user-controls .icon-user-ic:hover{
    background-position: 0px -59px;
}
.user-controls .icon-cart-ic:hover{
    background-position: -20px -59px;
}
.product-item{
    padding: 30px 10px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-title{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-item .item-img{
    transition: all .3s linear;
    height: 216px;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 50px;
    transition: all .3s linear .1s;
    z-index: -1;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.sizes{
    margin-bottom: 30px;
}
.item-controls{
    margin-top: 30px;
}
.item-controls li + li{
    margin-left: 25px;
}
.product-item .colors{
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.item-controls .icon-share-ic:hover{
    background-position: -44px -59px;
}
.item-controls .icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.item-controls .icon-like-ic:hover{
    background-position: -38px -80px;
}
.subscribe-form{
    padding: 35px 45px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label{
    color: #ff5912;
}
input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}
.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    border-radius: 0;
    height: 3px;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.min-value, .max-value{
    position: absolute;
    bottom: 200%;
    color: #34404b;
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
}
.add-range-value{
    margin-top: 30px;
}

/* DEFAULT COMPONENT END */
.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.item-carousel-description p + p{
    padding-top: 15px;
}
.item-carousel-price{
    margin-top: 50px;
}
.item-carousel-price a{
    margin-left: 30px;
    color: #ff5912;
    font-size: 18px;
    font-family: 'Harmonia_semibold';
}
.item-carousel-price i{
    margin-right: 8px;
}
.load-more{
    height: 60px;
    margin-top: 80px;
}
.load-more a{
    display: block;
    line-height: 60px;
}
.kit{
    padding: 20px 60px;
    border: 1px solid #eaedef;
}
.sales-block{
    position: relative;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg{
    transform: rotate(-45deg);
}
.sales-block .orange-bg{
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block-text{
    position: absolute;
    top: 25%;
    transform: rotate(-45deg);
    color: #fff;
}
.category-wrap{
    padding-top: 120px;
    padding-bottom: 60px;
}
.adv{
    height: 104px;
    border: 1px solid #eaedef;
}
.adv-block p{
    margin-top: 15px;
    font-size: 12px;
    opacity: .4;
    letter-spacing: .6em;
}
.sales-text{
    border-right: 1px solid #f2f4f7;
    padding-right: 35px;
}
.sales-text .title{
    font-size: 22px;
    margin: 0;
}
.sales-text p + p{
    margin-top: 15px;
}
.sales-price .title{
    margin-left: 20px;
}
.best-item-img, .best-item-description{
    display: inline-block;
}
.best-item-description{
    border-left: 1px solid #f2f4f7;
    padding-left: 25px;
}
.best-sales .best-item{
    padding: 30px 25px;
}
.best-item-info ul,
.best-item-info li{
    display: inline-block;
}
.best-item-info{
    margin-top: 30px;
}
.best-item-on-hover i{
    vertical-align: sub;
}
.best-item-on-hover span{
    margin-left: 8px;
}
.best-item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.best-item .best-item-on-hover{
    opacity: 0;
    position: absolute;
    left: 52%;
    transition: all .3s linear .1s;
    z-index: -1;
}
.best-item:hover .best-item-on-hover{
    opacity: 1;
    z-index: 99;
}
.best-item-info>ul,
.best-item-info>span {
    transition: all .3s linear .1s;
    z-index: 99;
}
.best-item:hover .best-item-info>ul,
.best-item:hover .best-item-info>span{
    opacity: 0;
    z-index: -1;
}